<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="FlxApplicationServerName" value="cwagner01" />
    <add key="FlxServiceAccountName" value="api" />
    <add key="FlxServiceAccountPassword" value="api" />

    <add key="TestPartNumber" value="Regression-Process Serialized Batch" />
    <add key="TestSerialNumber" value="000004" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FactoryLogix.xTend.DataObjects" publicKeyToken="362473890061df9c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.191.0.0" newVersion="8.191.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>